body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.images {
  display: flex;
  justify-content: space-around;
  align-content: centre;
  border-radius: 10px;
  width: 100vw;
}

.flexb {
  background: rgb(106, 245, 0);
  padding: 20px;
}
